.current {
    color: var(--accent-color);
    display: flex;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
        position: absolute;
        bottom: -34px;
    }
}