.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}


.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
    &:focus {
            border-color: var(--accent-color);
            
        }
}

.modal-wrap-comment {
    margin-bottom: 20px;
}

.modal-wrap {
    margin-bottom: 10px;
}

.inpot-wrap {
    display: block;
    position: relative;
}

.modal-inpot-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: var(--team-name-color);
    .modal-input:focus+& {
            fill: var(--accent-color);
        }
}

.modal-comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
            border-color: var(--accent-color);
        }
        &::placeholder {
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
}

.modal-label-comment {
    display: block;
}

.modal-label-text {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--text-color);
    display: block;
    margin-bottom: 4px;
}

.modal-label {
    display: block;
}


.modal-label-check {
    line-height: calc(24 / 14);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
            color: var(--accent-color);
        }
    
        span {
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 2px;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: transparent;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal-wrap-check {
    margin-bottom: 30px;
}



.input-check:checked+.modal-label-check span {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: var(--hero-color);
}

.input-check:focus+.modal-label-check span {
    border-color: var(--accent-color);
}


.form-btn {
    min-width: 200px;
    padding: 10px 32px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}

