body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @include mobile {
    max-width: 480px;
    }
    @include tablet {
    max-width: 768px;
    }
    @include destop{
    max-width: 1200px;
    }
}

